
body{


    background-color: rgba(167, 178, 186, 0.367);
}

header{

    background-color: #F8F8FF;
    
    height: 100px;
    display: flex;
    align-items: center;
}


.contenedor{


    display: flex;
    flex-direction: column;
    
    padding-top: 50px;
    height: 100vh;
    width: 100vw;
    margin: 0;
    gap: 100px;
    
    
    align-items: center;
   
    
}

h1{

    
    width: 50%;
    margin: 0 auto;
    
}

.caja{

    background-color: #F8F8FF;
    
    width: 50%;
    height: 100%;
    
    margin: 20px;
    
    flex-shrink: 0;
    
    
    
}

.encabezado-foto{

    
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    
}
.titulo{

    
    width: 40%;
    height: 40%;
    margin-left: 10px;
    
}


.fecha{

    display: flex;

    
    width: 20%;
    height: 40%;
    margin-right: 2%;
    margin-left: 50%;
    justify-content: flex-end;
    
    
    
}

span{

    font-weight: bold;
    font-size: 20px;
}

.fecha span{

    color: gray;
    font-size: 16px;
}

.imagen-1{



    
    height: 77%;
    width: 100%;
    margin: 0 auto;
    
    background-image: url('https://hips.hearstapps.com/ghk.h-cdn.co/assets/17/30/dachshund.jpg?crop=1.00xw:0.668xh;0,0.260xh');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    

}



.comentario{    

   
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    
    



}

.comentario p{

    padding: 10px;
}


.imagen-2{



   
    height: 77%;
    width: 100%;
    margin: 0 auto;
    
    background-image: url('https://images.unsplash.com/photo-1529778873920-4da4926a72c2?q=80&w=1336&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    

}

.imagen-3{



    
    height: 77%;
    width: 90%;
    margin: 0 auto;
    
    background-image: url('https://images.unsplash.com/photo-1587402092301-725e37c70fd8?q=80&w=1364&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    

}


.imagen-4{



    
    height: 77%;
    width: 90%;
    margin: 0 auto;
    
    background-image: url('https://media.istockphoto.com/id/1227415751/es/foto/mesa-completa-de-comidas-italianas-en-platos-pizza-pasta-ravioles-carpaccio-ensalada-caprese-y.jpg?s=612x612&w=0&k=20&c=kr9K-KmsmpPO6Vysfb1o8ETCLTx-UCKiYOqCP0bIU5g=');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    

}

